# Notebook que no quiero subir
Untitled.ipynb

# Predicciones generadas
predicciones/*.csv

# Datos de Kaggle (pesados y con reglas de redistribución)
datos/

# Archivos temporales
.ipynb_checkpoints/
catboost_info/